<div class="container">
  <div class="row">
    <div class="col">
      <h5 class="offset-md-2" style="background-color: #eeeeee; font-weight: bold" >マイページ</h5>
      <div class="form-group" style="display: flex">
          <h5 class="col-md-2" style="font-weight: bold;">登録情報</h5>
          <%= link_to"編集する",edit_customers_path,class: "btn btn-success" %>
      </div>

      <table class="table table-bordered" style="boder-width: thick">
       <tr>
         <td class"table-active">氏名</td>
         <td><%= @customer.last_name %> <%=@customer.first_name%></td>
       </tr>
       <tr>
         <td class"table-active">カナ</td>
         <td><%= @customer.last_name_kana %> <%=@customer.first_name_kane%></td>
       </tr>
       <tr>
         <td class"table-active">郵便番号</td>
         <td><%= @customer.post_code %></td>
       </tr>
       <tr>
         <td class"table-active">住所</td>
         <td><%= @customer.address %></td>
       </tr>
       <tr>
         <td class"table-active">電話番号</td>
         <td><%= @customer.phone_namber %></td>
       </tr>
       <tr>
         <td class"table-active">メールアドレス</td>
         <td><%= @customer.email %></td>
       </tr>
      </table>
      <div class="address_link" style="display: flex">
        <h5>配送先</h5>

      </div>
      <div class="address_link" style="display: flex">
        <h5>注文履歴</h5>

      </div>
    </div>
  </div>
</div>