<div class="container">
  <div class="row">
　　<div class="col-xs-12 mt-4">
 　  <h3><strong>商品一覧</strong></h3>
 　　</div>
    <div class="col-xs-2 offset-9 mt-5">
      <%= link_to new_admin_item_path, class:"btn btn-outline-secondary" do %>
        <i class="fas fa-plus fa-1x"></i>
      <% end %>
    </div>
  </div>
  <div class="row">
      <table class="table table-light table-striped">
        <thead>
          <tr class="text-black">
            <th>商品ID</th>
            <th>商品名</th>
            <th>税抜価格</th>
            <th>ジャンル</th>
            <th>ステータス</th>
          </tr>
        </thead>
        <tbody>
          <% @items.each do |item| %>
          <tr>
            <td><%= item.id %></td>
            <td><%= link_to item.name, admin_item_path(item.id) %></td>
            <td><%= item.price %>円</td>
            <td><%= item.genre.name %></td>
            <td><%= item.is_active == true ? "販売中" : "販売停止中" %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
  </div>
    <div class="text-center"><%= paginate(@items) %></div>
</div>
