<div class="container">
  <div class="row">
    <div class="col">
      <h5 class="offset-md-2" style="background-color: #eeeeee; font-weight: bold" >配送先登録/一覧</h5>
       <%= form_with scope: :address, url: addresses_path(@address), method: :post, local: true do |f| %>
       <table>
         <thead>
           <%= render "public/shared/error_messages", resource: @address %>
           <tr>
             <td class="col-md-3"><%= f.label :post_code, "郵便番号（ハイフンなし）" %></td>
             <td class="col-md-3"><%= f.text_field :post_code, :placeholder => "0000000" %></td>
           </tr>
           <tr>
             <td class="col-md-3"><%= f.label :address, "住所" %></td>
             <td class="col-md-3"><%= f.text_field :address, :placeholder => "東京都渋谷区代々木神園町0-0" %></td>
           </tr>
           <tr>
             <td class="col-md-3"><%= f.label :name, "宛名" %></td>
             <td class="col-md-3"><%= f.text_field :name, :placeholder => "令和道子" %></td>
             <td class="col-md-3"><%= f.submit "　　新規登録　　", class: "btn btn-success" %></td>
           </tr>
         </thead>
       </table>
       <% end %>
       <table>
         <tr>
           <th>郵便番号</th>
           <th>住所</th>
           <th>宛名</th>
           <th></th>
         </tr>
         <% @addresses.each do |address| %>
          <tr>
            <td><%= address.post_code %></td>
            <td><%= address.address %></td>
            <td><%= address.name %></td>
            <td><%= link_to "編集する", edit_address_path(address), class: "btn btn-success" %>
            <%= link_to "削除する", address_path(address), method: :delete, data:{confirm: "削除しますか？"}, class: "btn btn-danger btn-xs" %></td>
          </tr>
        <% end %>
       </table>
    </div>
  </div>
</div>