<div class="container">
  <div class="row">
    <div class="col">
     <h4 class="col-md-2" style="background-color: #eeeeee; display: inline-block; padding:0 20px; font-weight: bold; margin:50px 0;" >注文履歴詳細</h4>

     <!--会員の注文履歴詳細-->
     <table><tr><td>
     　<!--会員注文情報-->
      <div style="margin: 10px; font-weight:bold;">注文情報</div>
      <table border="1" style="margin:10px;">
       <tr>
         <td class"table-active">注文日</td>
         <td><%= @order.created_at.strftime('%Y/%m/%d') %></td>
       </tr>
       <tr>
         <td class"table-active">配送先</td>
         <td>
           〒<%= @order.post_code %><br><!--配送先郵便番号-->
           <%= @order.address %><br><!--配送先住所-->
           <%= @order.name %><!--配送先宛名-->
         </td>
       </tr>
       <tr>
         <td class"table-active">支払方法</td>
         <td><%= @order.payment_method %></td>
       </tr>
       <tr>
         <td class"table-active">ステータス</td>
         <td><%= @order.status %></td>
       </tr>
      </table>

      <!--請求情報-->
      <div style="margin: 10px; font-weight:bold;">請求情報</div>
      <table border="1" style="margin:10px;">
       <tr>
         <td class"table-active">商品合計</td>
         <td><%= (@order.total_payment).to_s(:delimited) %></td>
       </tr>
       <tr>
         <td class"table-active">配送料</td>
         <td><%= (@order.postage).to_s(:delimited) %></td>
       </tr>
       <tr>
         <td class"table-active">ご請求額</td>
         <td><%= (@order.total_payment + @order.postage).to_s(:delimited) %></td>
       </tr>
      </table>
    </td></tr></table>

       <!--注文内容-->
      <div style="margin: 10px; font-weight:bold;">注文内容</div>
      <table border="1" style="margin:10px;">
        <tr style="background-color: #eeeeee;">
          <th>商品</th>
          <th>単価(税込)</th>
          <th>個数</th>
          <th>小計</th>
        </tr>
        <% @order_details.each do |order_detail| %>
          <tr>
            <td style="padding: 15px 10px;"><%= order_detail.item.name %></td>
            <td style="padding: 15px 10px;"><%= (order_detail.price*1.1).floor %></td>
            <td style="padding: 15px 10px;"><%= order_detail.amount %></td>
            <td style="padding: 15px 10px;"><%= (order_detail.price*1.1*order_detail.amount).floor %></td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>