<header class= "shadow-sm">
  <nav class= "navbar navbar-expand-lg navbar-light">
    <div class="container">
      <a class="navbar-brand" href="/"><%= image_tag '2022.jpg', :size =>'180x80'%></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
       <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id=navbarNavDropdown>
        <ul class="navbar-nav ml-auto">
          <% if customer_signed_in? %><!--cutomerでログイン-->
            <li class="nav-item active">
           <span class="nav-link text-dark">ようこそ、<%= current_customer.last_name %>さん</span>
            </li>
            <li><%= link_to '商品一覧',items_path, class: 'btn btn-outline-dark' %> </li>
            <li><%= link_to 'カート',cart_items_path, class: 'btn btn-outline-dark'%> </li>
            <li><%= link_to 'マイページ',customers_path, class: 'btn btn-outline-dark' %> </li>
            <li><%= link_to 'ログアウト',destroy_customer_session_path, method: :delete, class: 'btn btn-outline-dark'%> </li>
          <% elsif admin_signed_in? %><!--adminでログイン-->
            <li><%= link_to '商品一覧',admin_items_path, class: 'btn btn-outline-dark'%></li>
            <li><%= link_to '会員一覧',admin_customers_path, class: 'btn btn-outline-dark'%></li>
            <li><%= link_to '注文履歴一覧',admin_orders_path, class: 'btn btn-outline-dark'%></li>
            <li><%= link_to 'ジャンル一覧',admin_genres_path, class: 'btn btn-outline-dark'%></li>
            <li><%= link_to 'ログアウト',destroy_admin_session_path, method: :delete, class: 'btn btn-outline-dark'%></li>
          <% else %><!--ログインされていない-->
            <li><%= link_to 'About', about_path, class: 'btn btn-outline-dark mx-3 my-1'%>
            <li><%= link_to '商品一覧', items_path, class: 'btn btn-outline-dark mx-3 my-1'%></li>
            <li><%= link_to '新規登録',new_customer_registration_path, class: 'btn btn-outline-dark mx-3 my-1'%></li>
            <li><%= link_to 'ログイン',new_customer_session_path, class: 'btn btn-outline-dark mx-3 my-1'%></li>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>
</header>